/*
::-webkit-scrollbar { 
    display: none; 
}
*/

body {
    width: 100%;
}

.fe-header {
    background-color: black;
    width: 700px;
    height: 60px;
    z-index: 1;
}

.fe-headerbox {
    width: 100%;
    padding: 0px;
    align-items: center;
    position: fixed;
}

.fe-header-btn {
}

.fe-header-btn-txt {
    color: white;
}

.fe-header-btn-txt:hover {
    color: green;
}

.fe-main {
    /*height: 100%;*/
    /*height: 200%;*/
    margin: 0;
    padding: 0px;
    width: 100%;
}

.fe-main-image-background {
    height: 100vh;
    width: 100%;
    padding: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.fe-main-image-text-content {
    margin: auto;
    max-width: 300px;    
}

.fe-main-image-headline {
    font-size: 40px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    color: green;
}

.fe-main-image-text {
    font-size: 24px;
    color: green;
    margin-left: auto;
    margin-right: auto;
}

.fe-text-bg-video-content {
    height: 500px;
    position: fixed;
    position: absolute;
}

.fe-text-bg-video-video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.fe-main-content {
    padding: 0px;
    width: 100%;
}