.component-dropdown {
    
}

.component-dropdown-title {
    
}

.component-dropdown-droped-btns {
    background-color: white;
}

.component-dropdown-droped-btn {
    margin: 0px;
    background-color: white;
}