
.be-article-mod-border {
    border-left: 3px solid #262f3d;
    border-right: 3px solid #262f3d;
    padding: 20px 20px 0px 20px;
}


.be-article-list-mod-border {
    width: -webkit-fill-available;
    border: 2px solid #262f3d;
    margin-left: -22px;
    margin-right: -22px;
    background-color: lightgray;
}

.be-article-part-mod-border {
    border: 1px solid #262f3d;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
    padding: 16px 10px 10px 10px;
}

.be-article-mod-btns {
    width: -webkit-fill-available;   
    margin: 16px 0px 0px 0px;
    padding: 0px;
}

.be-article-mod-create-btns-hide {
    visibility: hidden;
    height: 0px;
}

.be-article-mod-create-btns {
    width: -webkit-fill-available;
    padding: 0px;
}

.be-article-mod-btn {
    height: 20px;
    width: -webkit-fill-available;
    color: black;
    background-color: lightgray;
    cursor: pointer;
    margin: 0px;
    border-top: 1px solid;
    margin: 0px -20px 0px -20px;
    padding: 10px;
}

.be-article-mod-btn:hover {
    background-color: grey;
}

.be-article-part-toolbar {
    margin-top: 0px;
}

.be-article-part-toolbar-btn {
    height: 15px;
    color: black;
    padding: 5px;
    cursor: pointer;
}

.be-article-part-toolbar-tools {

}

.be-article-part-content {
    margin-top: 0px;
    background-color: lightcyan;
    box-sizing: border-box;
    padding: 0px;
}