.be-content-layout {
    display: block;
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    padding: 5px 10px;
}

.be-content-upload {
    padding: 16px 16px 0px 16px;    
}